.modal {
  width: 800px;
  height: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal-dialog {
  margin: 0;
  width: 100%;
  height: 100%;
}
.modal .modal-dialog .modal-content .modal-header {
  background: #0093f9;
  color: #fff;
}
.modal .modal-dialog .modal-content .modal-body form .form-group {
  margin: 10px auto;
  height: 66px ;
}
.modal .modal-dialog .modal-content .modal-body form .form-group label {
  font-size: 18px;
  font-weight: normal;
  color: #596E81;
  padding: 0;
  margin: 8px auto;
}
.modal .modal-dialog .modal-content .modal-body form .form-group div div.row p.help_block {
  margin: 0 20px !important;
  color: #acacac;
}
.modal .modal-dialog .modal-content .modal-body form .form-group div button {
  width: 100px;
  height: 40px;
  margin: 0 20px;
  outline: none;
  color: #acacac;
  font-size: 18px;
}
.modal .modal-dialog .modal-content .modal-body form .form-group div #btn_add {
  background: #0093f9;
  color: #fff;
}
.modal .modal-dialog .modal-content .modal-body form .form-group div select {
  width: 100%;
  font-size: 15px;
  color: #acacac;
  border: solid 1px #ddd;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../images/down.png") no-repeat scroll 180px center transparent;
  padding-right: 14px;
}
.modal .modal-dialog .modal-content .modal-body form .form-group div select::-ms-expand {
  display: none;
}
.modal .modal-dialog .modal-content .modal-body form .form-group input {
  font-size: 16px;
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-body form .form-group textarea {
  font-size: 16px;
  width: 100%;
}
