<!DOCTYPE html>
<html ng-app="statisticalIndex">
<!--1,lang="zh-cn"-->
<head lang="zh-cn">
  <meta charset="UTF-8">
  <!--2,viewport-->
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <!--3,x-ua-compatible-->
  <meta http-equiv="x-ua-compatible" content="IE=edge"/>
  <title></title>
  <script src="../js/ng/angular.min.js"></script>
  <script src="../js/ng/angular-ui-router.min.js"></script>
  <!--4引入两个兼容文件-->
  <!--[if lt IE 9]>
  <script src="../js/bootstrap/html5shiv.min.js"></script>
  <script src="../js/bootstrap/respond.min.js"></script>
  <![endif]-->
  <!--6引入bootstrap.css-->
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/statistical_index.css">
</head>
<body ng-controller="statisticalParent">

  <div ng-include="'include/header.html'"></div>
  <!--中间主体内容-->
  <section id="section">
    <div class="container">
      <div class="row">
        <div class="Menu">
          <div ng-controller="statisticalSidebarCtrl">
            <ul class="list-unstyled text-center" id="tab_list">
              <li ng-click="jump(item.jumpTip)" ng-repeat="item in showList">
                <div>
                  <img ng-src="../img/meeting/{{item.imgUrl}}" alt="">
                  <br>
                  <span>{{item.text}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="context_show">
          <div ui-view>

          </div>
        </div>
      </div>
    </div>
  </section>



<!--引入jquery,bootstrap js-->
<script src="../js/bootstrap/jquery-1.11.3.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/statistical_index_ctrl.js"></script>

</body>
</html>