
<link rel="stylesheet" href="css/comm/table.css">
<div id="childContent"  ng-controller="commitListCtrl">
  <!--添加审委会模态框-->
  <script type="text/ng-template" id="myModalAdd.html">
    <div ng-include="'custom/committee/add_modal.html'"></div>
  </script>

  <div class="container-fluid" >
    <!--查询表格-->
    <div class="row">
      <h2>审委会列表</h2>
      <!--表格-->
      <form id="formSearch" class="form-inline">
        <div class="form-group col-xs-3">
          <label for="txt_search_name">法院名称</label>
          <input type="text" name="name" id="txt_search_name" class="form-control" ng-model="checkoutList.courtName">
        </div>

        <div class="form-group  col-xs-7">
          <button type="button" id="btn_query" class="btn btn-primary">查询</button>

        </div>
        <div class="form-group col-xs-2">
          <button type="button" id="btn_add" class="btn btn-info" ng-click="open('md')">添加</button>
        </div>
      </form>
    </div>

    <!--表格-->
    <div class="row">
      <div class="col-xs-12">
        <!--table-->
        <div id="table_content">
          <div  style="display:block; max-height:500px;width:100%;overflow:auto;overflow-x:hidden" >
            <table class="table text-center table-hover" cellpadding="2rem" style="margin: 0" >
              <thead>
              <tr>
                <th class="text-center">案号</th>
                <th class="text-center">审讯地点</th>
                <th class="text-center">开始时间</th>
                <th class="text-center">审讯次数</th>
                <th class="text-center">讯问类型</th>
                <th class="text-center">被讯问人</th>
                <th class="text-center">讯问人</th>
                <th class="text-center">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in commitList track by $index">
                <td>{{item.caseNumber}}</td>
                <td>{{item.caseAddress}}</td>
                <td>{{item.caseStartTime}}</td>
                <td>{{item.caseStatue}}</td>
                <td>{{caseStatueN}}</td>
                <td>{{item.casePersonal}}</td>
                <td>{{item.caseAnswer}}</td>
                <td>
                  <button class="btn" data-toggle="modal" data-target="#commit_add">修改</button>
                  <button class="btn">查询</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--底部页签-->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8 col-md-3 col-md-offset-9 col-lg-3 col-md-offset-9">

        <ul class="pagination pull-left" id="page_list" >
          <li>
            <a type="button" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <div class="pull-left">
                          <span>共
                          <a href="#">5</a>
                          页</span>
        </div>
      </div>
    </div>
  </div>
</div>





