
<link rel="stylesheet" href="css/comm/modal.css">

  <!--修改审委会模态框-->


        <div class="modal-header">
          <span class="close" ng-click="cancel()">&times;</span>
          <h3>修改审委会</h3>
        </div>
        <div class="modal-body">
          <form id="form1" class="form-horizontal" style="width:100%;height:100%">
            <input type="hidden" name="operator" id="operator" value="${sessionScope.currentUser.name}"/>
            <div class="form-group">
              <label for="name" class="control-label col-sm-2 col-md-2">审委会名称:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="name" id="name">
                  </div>
                </div>
              </div>
              <label for="courtName" class="control-label col-sm-2 col-md-2">所属法院:</label>
              <div class="col-sm-4 col-md-4">
                <select class="form-control" name="courtCode" id="court">
                  <c:forEach items="${courtList}" var="court">
                    <option value="${court.courtCode}">福州中院</option>
                  </c:forEach>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="account" class="control-label col-sm-2 col-md-2">审委会账号:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="account" id="account">
                  </div>
                </div>
              </div>
              <label for="url" class="control-label col-sm-2 col-md-2">审委会URL:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="url" id="url">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="control-label col-sm-2 col-md-2">审委会描述:</label>
              <div class="col-sm-10 col-md-10">
                <textarea  class="form-control" rows=2 name="description" id="description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="control-label col-sm-2 col-md-2">审委会密码:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="password" class="form-control" name="password" id="password">
                  </div>
                </div>
              </div>
              <label for="pwdConfirm" class="control-label col-sm-2 col-md-2">密码确认:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="password" class="form-control" name="pwdConfirm" id="pwdConfirm">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="databaseServer" class="control-label col-sm-2 col-md-2">服务器:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="databaseServer" id="databaseServer">
                  </div>
                </div>
              </div>
              <label for="databaseName" class="control-label col-sm-2 col-md-2">数据库:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="databaseName" id="databaseName">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="databaseAccount" class="control-label col-sm-2 col-md-2">用户名:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="text" class="form-control" name="databaseAccount" id="databaseAccount">
                  </div>
                </div>
              </div>
              <label for="databasePassword" class="control-label col-sm-2 col-md-2">密码:</label>
              <div class="col-sm-4 col-md-4">
                <div class="row">
                  <div class="col-xs-12">
                    <input type="password" class="form-control" name="databasePassword" id="databasePassword">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">
            确认
          </button>
          <button class="btn btn-warning" ng-click="cancel()">退出</button>
        </div>







