<div class="text-center Menu"  ng-controller="adminSidebarCtrl">
	<ul class="mainMenu" id="tab_list">
		<li ng-repeat="item in showList track by $index">
			<div class="titleMenu clearfloat">
				<img ng-src="img/index/{{item.imgUrl}}" class="pull-left" alt="">
				<span class="pull-left">{{item.text}}</span>
				<img ng-src="img/index/blue_down.png" class="pull-right" alt="">

			</div>
			<ul class="subMenu">
				<li ng-repeat="list in item.content track by $index" ng-click="clickToggle(list.jumpTip)">
					{{list.text}}
				</li>
			</ul>
		</li>
	</ul>
</div>

